<script src="/passpoint/app.js"></script>

<script src="/services/dialog/dialog.service.js"></script>
<script src="/services/toast/toast.service.js"></script>

<script src="/passpoint/components/sign-up/sign-up.component.js"></script>
<script src="/passpoint/components/sign-up/sign-up.service.js"></script>

<script src="/passpoint/components/sign-in/sign-in.component.js"></script>
<script src="/passpoint/components/sign-in/sign-in.service.js"></script>

<script src="/passpoint/components/about/about.component.js"></script>
<script src="/passpoint/components/about/about.service.js"></script>

<script src="/passpoint/widgets/tool-bar/tool-bar.component.js"></script>

<script src="/passpoint/services/contexts/contexts.service.js"></script>

</head>

<body layout="row" layout-align="center stretch" ng-controller="MainController as vm" ng-view>

</body>

</html>